<footer class="w-full h-full p-10 bg-white md:p-36">
  <div class="py-12 border-b border-b-[#b2c3c1]">
    <div class="flex flex-col gap-5">
      <div class="flex flex-col">
        <p class="text-[#91a8a7]">Trụ sở tại Hàn Quốc:</p>

        <p class="text-[#101717] text-[18px]">20, Buil-ro 483beon-gil, Wonmi-gu, Bucheon-si, Gyeonggi-do, Republic of Korea
        </p>
      </div>

      <div class="flex flex-col">
        <p class="text-[#91a8a7]">Trụ sở tại Việt Nam:</p>

        <p class="text-[#101717] text-[18px]">BSSC Coworking Space: No.2 - 4 Alexandre de Rhodes, Ben Nghe Ward, District 1, Ho Chi Minh City, Vietnam
        </p>
      </div>

      <div class="flex flex-col">
        <p class="text-[#91a8a7]">Company:</p>

        <p class="text-[#101717] text-[18px]">Pomielvietnam&#64;gmail.com
        </p>
      </div>

      <div class="flex flex-col">
        <p class="text-[#91a8a7]">CEO:</p>

        <p class="text-[#101717] text-[18px]">dongsug503&#64;gmail.com
        </p>
      </div>
    </div>
  </div>

  <div class="flex gap-10 pt-12">
    <a href="/">
      <img src="/tiki.png" alt="tiki" class="object-cover w-9 h-9">
    </a>

    <a href="/">
      <img src="/shopee.png" alt="shopee" class="object-cover w-9 h-9">
    </a>

    <a href="/">
      <img src="/lazada.png" alt="lazada" class="object-cover w-9 h-9">
    </a>

    <a href="/">
      <img src="/naver.png" alt="naver" class="object-cover w-9 h-9">
    </a>
  </div>
</footer>
