<header *ngIf="!secondHeader" class="sticky top-0 hidden w-full md:block ">
  <nav class="py-3 bg-transparent border-gray-200 dark:bg-gray-900">
      <div class="flex flex-wrap items-center max-w-screen-xl gap-40 px-4 mx-auto">
          <a href="#" class="flex items-center bg-black rounded-full">
              <img src="logo1.png" class="invert h-28" alt="Pomiel Logo" />
          </a>

          <div class="flex items-center justify-between order-1 w-auto">
              <ul class="flex flex-row mt-0 space-x-8 font-medium">
                  <li>
                      <a [routerLink]="['/home']" [routerLinkActive]="['active']" class="block py-2 pl-3 pr-4 [&.active]:text-white rounded text-[#3f5d5a] lg:p-0" aria-current="page">Home</a>
                  </li>

                  <li>
                    <a [routerLink]="['/about-us']" [routerLinkActive]="['active']" class="block py-2 pl-3 pr-4 [&.active]:text-white rounded text-[#3f5d5a] lg:p-0" aria-current="page">About us</a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
</header>

<header *ngIf="secondHeader" class="sticky top-0 left-0 right-0 z-50 black header">
  <nav class="py-3 bg-transparent border-gray-200 dark:bg-gray-900">
      <div class="flex flex-wrap items-center justify-between max-w-screen-xl gap-40 px-4 mx-auto">
          <a href="#" class="flex items-center bg-black rounded-full">
              <img src="logo1.png" class="invert h-28 " alt="Pomiel Logo" />
          </a>

          <div class="flex">
            <input type="checkbox" id="drawer-toggle" class="sr-only peer">
            <label for="drawer-toggle" class="inline-block p-4 transition-all duration-500 bg-black rounded-lg cursor-pointer peer-checked:z-[100]">
                <div class="w-6 h-1 mb-1 bg-white rounded-lg"></div>

                <div class="w-6 h-1 mb-1 bg-white rounded-lg"></div>

                <div class="w-6 h-1 bg-white rounded-lg"></div>
            </label>

            <div class="fixed top-0 right-0 z-20 w-full h-full p-10 transition-all duration-500 transform translate-x-full bg-black shadow-lg peer-checked:translate-x-0 peer-checked:[&_a]:translate-x-0 peer-checked:[&_.mail-container]:translate-x-0">
              <div class="child ">
                <div class="flex">
                  <img src="logo1.png" class="h-20 invert" alt="logo">
                </div>

                <div class="flex flex-col gap-8 px-10 py-4">
                  <ul class="flex flex-col mt-8 font-medium fadeInRight">
                    <li>
                        <a [routerLink]="['/home']" (click)="handleClick()" [routerLinkActive]="['active']" class="home transition-all duration-500 translate-x-[150%] block py-5 text-2xl opacity-20 pr-10 text-right text-white [&.active]:opacity-100 border-r-2 border-r-gray-50" aria-current="page">Home</a>
                    </li>

                    <li>
                      <a [routerLink]="['/about-us']" (click)="handleClick()" [routerLinkActive]="['active']" class="about-us transition-all duration-1000 translate-x-[150%] block py-5 text-2xl opacity-20 pr-10 text-right text-white [&.active]:opacity-100 border-r-2 border-r-gray-50" aria-current="page">About us</a>
                    </li>
                  </ul>

                  <div class="flex mail-container flex-col justify-end transition-all translate-x-[150%] duration-[1500ms]">
                    <p class="text-[#91A8A7] text-right my-4">Lets talk</p>

                    <a href="mailto:dongsug503@gmail.com" class="text-[18px]  text-right text-white">dongsug503&#64;gmail.com</a>

                    <a href="mailto:pomielvietnam@gmail.com" class="text-[18px] text-right text-white">pomielvietnam&#64;gmail.com</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
      </div>
  </nav>
</header>
